@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	-webkit-transition: all .3s ease
	-moz-transition: all .3s ease
	transition: all .3s ease
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
		-webkit-transition: all .3s ease
		-moz-transition: all .3s ease
		transition: all .3s ease

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%
	margin: 0
	padding: 0

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.screen-block
	min-height: 100vh
	width: 100%
	margin: 0
	padding: 0

.img-responsive
	display: block
	max-width: 100%
	height: auto

.block
	width: 450px
	height: 300px
	margin: 40px
	overflow: hidden
	box-shadow: 0 0 10px rgba(3,3,3,.4)
	border-radius: 3px
	position: relative
	cursor: pointer
	&::after
		content: ''
		position: absolute
		top: 0
		left: 0
		display: block
		width: 450px
		height: 300px
		background-image: -webkit-radial-gradient(transparent, rgba(0,0,0,.3))
	&:hover::after
		opacity: 0
	img
		width: 450px
		height: 300px
	

@import "media" // Всегда в конце
